{
  "extends": "stylelint-config-default",
  "rules": {
    "color-named": null,
    "max-line-length": null,
    "number-leading-zero": null,
    "order/properties-alphabetical-order": null,
    "selector-max-specificity": null
  }
}
