/*! This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* global variables */
:root {
  --primary-color: #f1f1f1;
  --primary-text-color: #333333;
  --link-text-color: #0996F8;
  --primary-border-color: #b7b7b7;
  --standard-box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 1px 3px rgba(12,13,14,0.1),0 4px 20px rgba(12,13,14,0.035),0 1px 1px rgba(12,13,14,0.025);
  --dropdown-box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
  --accept-button-background-color: #0094FB;
  --accept-button-hover-background-color: #00329a;
  --reject-button-background-color: #fbfbfb;
  --reject-button-hover-background-color: #e1e1e2;
}

* {
  box-sizing: border-box;
}

  /* mostly from https://github.com/johngruen/project-dfa/tree/master/src */
body {
  color: #333333;
  background: transparent;
  font-family:  -apple-system, "Segoe UI",
    "Ubuntu", "Roboto", "Oxygen", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  width: 280px;
  padding: 0 0;
  margin: 0 0;
}

/*=====MINIMAL RESETS, ADJUSTMENTS, ETC =====*/
h1, h2, h3, h4, h5, h6 {
  color: #424f5a;
}

h4, h5, h6 {
  margin-bottom: 1.66em; 
}

ul, ol, p {
  line-height: 20px;
  margin: .5em 0 0em 0; 
}

#recomcontainer {
  transition: opacity 0.5s visibility 0s ease 0.5s;
  opacity: 1;
}

#recommcontainer.invisible {
  visibility: hidden;
  opacity: 0;
}

#picture {
  width: 100%;
  text-align: center;
  height:  130px;
  background: url('../images/Doorhanger Hero@1x.png');
  background-size: contain;
}

@media  (min--moz-device-pixel-ratio:1.5),
        (min-resolution:1.5dppx) {
    #picture {
        background: url('../images/Doorhanger Hero@2x.png');
        background-size: contain;
    }
}

#textsection {
  width: 75%;
}
 
#headersection {
  width: 100%;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px gray; 

}

#headercontainer {
  width: 224px;
  display: flex;
}

.info {
  width: 28px;
}

#header {
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

#right-info img {
  height: 16px;
  width: 16px;
}


#messagesection {
  width:  100%;
  justify-content: center;
  align-items: center;
  padding: 10px 20px; 
}

#message-header {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  font-size: 17px;
  height: 48px;
  margin-bottom: 10px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

#message {
  font-size: 13px;
  min-height: 72px;
  line-height: 18px;
  letter-spacing: -0.1px;
}

#bottomsection {
  /*position: relative;   */
  background-color: rgba(0, 0, 0, 0.06);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  color: #1a1a1a;
  display: flex;
  flex-direction: row;
  height: 41px;
  margin-top: -1px;
  padding: 0;
}

.button-style {
  font-size: 13px;
  line-height: 0px;
  display: inline-block;
  color: #FFF;
  background-color: #0996f8;
  box-shadow: 0 1px 0 #0670cc inset;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  flex: 1 1 auto;
  height: 100%;
  margin: -1px -0px;
  padding: 12px;
  text-align: center;
  width: 50%;
}

#dontshow-container {
  display: flex;
  justify-content: left;
  align-items: center; 
  width: 100%;
  padding: 0px 0px 20px 20px;
}

#dontshow {
  font-size: 13px;
}

#dont-show-checkbox {
  width: 16px;
  height: 16px;
  margin-left: 0px;
}

.button-style:hover {
  background-color: #0670cc;
  box-shadow: 0 1px 0 #005bab inset;
}

.button-style:hover:active {
  background-color: #005bab;
  box-shadow: 0 1px 0 #004480 inset;
}

.button-style.invisible { 
  display: none;
}

.button-style.disabled {
  display:none;
}

.button-style.feedback {
  width: auto;
  visibility: visible;
}

#sec-button {
  background-color: #ebebeb;
  color: black;
  border-color: transparent;
  text-align: center;
  box-shadow: 0 1px 0 #d4d4d4 inset;
  width: 50%;
}

#sec-button:hover {
  background-color: #d4d4d4;
  box-shadow: 0 1px 0 #b1b1b1 inset;
}

#sec-button:hover:active {
  background-color: #b1b1b1;
  box-shadow: 0 1px 0 #858585 inset;
}
